*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: #262526;
}

body{
    margin: 30px;
}

.left{
    width: 25%;
    height: 100vh;
    /* display: inline-block; */
    position: absolute;
}

.right{
    /* display: inline-block; */
    position: absolute;
    width: 25%;
    height: 100vh;
    margin-left: 30px;
    left: 330px;
}

main{
    width: 24%;
    height: 60px;
    background-color: #F9BCCD;
    position:fixed;
    padding-left: 20px;
    padding-top: 20px ;
    font-weight: bold;
    color: #262526;
    margin-left: -4px;
}

section{
    width: 25%;
    height: 60px;
    background-color: #EBE6FD;
    position:sticky;
    padding-left: 20px;
    padding-top: 20px ;
    font-weight: bold;
    color: #262526;
    left: 350px;
    top: 0;
    display: inline-block;
}